.clients {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__item {
    width: calc(53.3% - 30px);
    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }
    @media screen and (max-width: 767px) {
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }

      &:nth-child(odd) {
        margin-right: 30px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
      }
      &:nth-child(3n + 1),
      &:nth-child(3n + 2) {
        margin-right: 30px;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90px;

    border: 1px solid $social-links-color;
    border-radius: 4px;
    fill: $social-links-color;

    transition: border-color 250ms $cubic-bezier, fill 250ms $cubic-bezier;

    svg {
      width: 89px;
      height: 52px;
    }
    &:hover,
    &:focus {
      border-color: $accent-color-main;
      fill: $accent-color-main;
    }
  }
}
