.features {
  &-section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
    }
  }

  &-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  &-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.features-item {
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &:nth-child(odd) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
    }
  }

  &:nth-child(-n + 2) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  &::before {
    content: "";
    display: block;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;

    background-color: $background-secondary-color;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:nth-child(1)::before {
    content: "";
    background-image: url(../images/features/antenna.svg);
  }

  &:nth-child(2)::before {
    content: "";
    background-image: url(../images/features/clock.svg);
  }

  &:nth-child(3)::before {
    content: "";
    background-image: url(../images/features/diagram.svg);
  }

  &:nth-child(4)::before {
    content: "";
    background-image: url(../images/features/astronaut.svg);
  }
}

// .icon-container {
//   max-width: 270px;
//   max-height: 120px;
//   padding: 25px 100px;
//   margin-bottom: 30px;
//   background-color: $background-secondary-color;
// }
