.header {
  background-color: $additional-color;

  @media screen and (max-width: 767px) {
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  @media screen and (min-width: 768px) {
    border-bottom: 1px solid $border-color;
  }

  &__menu-container {
    @media screen and (max-width: 767px) {
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $additional-color;
      border-top: 1px solid $border-color;

      transition: opacity 250ms $cubic-bezier 100ms;
      &.is-open {
        opacity: 1;

        transition: opacity 250ms $cubic-bezier 100ms;
      }
    }
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}

.header__menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: transparent;
  transition: fill 250ms $cubic-bezier;

  &:hover,
  &:focus {
    fill: $accent-color-main;
  }

  &__menu-btn--open,
  &__menu-btn--close {
    fill: $secondary-text-color;
  }

  & .header__menu-btn--close {
    opacity: 0;
  }

  &.is-open .header__menu-btn--close {
    opacity: 1;
  }
  &.is-open .header__menu-btn--open {
    opacity: 0;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $additional-color;

  @media screen and (min-width: 768px) {
    padding: 11px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 7px 0;
  }
}

.menu {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }

  &__item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    @media screen and (min-width: 768px) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;

    color: $secondary-text-color;

    transition: fill 250ms $cubic-bezier, color 250ms $cubic-bezier;
    &:hover,
    &:focus {
      color: $accent-color-main;
      fill: $accent-color-main;
    }
  }
}

.contacts {
  display: block;
  text-align: center;

  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__item {
    fill: $main-text-color;

    transition: fill 250ms $cubic-bezier, color 250ms $cubic-bezier;
    &:hover,
    &:focus {
      color: $accent-color-main;
      fill: $accent-color-main;
    }

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: center;
    }
  }
  &__icon {
    width: 16px;
    height: 15px;
    margin-right: 10px;

    @media screen and (min-width: 768px) {
      width: 14px;
      height: 14px;
    }

    @media screen and (min-width: 1200px) {
      width: 17px;
      height: 16px;
    }
  }
}

.menu-contacts {
  font-size: 18px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }
}
