.logo {
  // header
  &-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: #000;
    letter-spacing: 0.03em;

    padding: 16px 0;
    display: inline-block;

    &--style {
      color: $accent-color-main;
    }

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.2;
    }
  }

  //   footer
  &-title.logo-footer {
    color: $additional-color;
  }
  &-footer-margin {
    margin-bottom: 20px;
  }
}
