.order-form {
  padding: 40px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $main-text-color;

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;

    margin-bottom: 12px;
  }
  &__label {
    position: relative;

    display: block;
    margin-bottom: 12px;
    &--margin {
      margin-bottom: 20px;
    }
  }
  &__field {
    width: 100%;
    margin-top: 4px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;

    transition: border 250ms $cubic-bezier;

    &:focus {
      border-color: $accent-color-main;
      outline: transparent;
      fill: #2196f3;
    }
  }
  &__image {
    position: absolute;
    left: 12px;
    bottom: 11px;

    width: 18px;
    height: 18px;
    fill: $secondary-text-color;

    transition: fill 250ms $cubic-bezier;

    .order-form__field:focus ~ & {
      fill: $accent-color-main;
    }
  }
  &__textarea {
    resize: none;
    height: 120px;

    padding: 12px 16px;

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
      font-size: 14px;
    }
  }
  &__policy {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 13px;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    &::before {
      content: "";
      display: inline-flex;
      margin-right: 5px;

      width: 16px;
      height: 16px;

      border: 2px solid #000;
      border-radius: 2px;

      transition: all 250ms $cubic-bezier;
      // !!Галочка чекбокса!!
      .order-form__checkbox:checked + & {
        background-color: $accent-color-main;
        background-image: url(../images/modal/vector.svg);
        background-size: contain;
        background-repeat: no-repeat;
        border-color: transparent;
      }
    }
  }
  &__link {
    color: $accent-color-main;
    text-decoration: underline;
  }
  &__button--centered {
    display: block;
    margin: 0 auto;
  }
}
