.social-links {
  // team
  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    margin-top: 16px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: $social-links-color;

    transition: fill 250ms $cubic-bezier, background-color 250ms $cubic-bezier;

    &:hover,
    &:focus {
      fill: $additional-color;
      background-color: $accent-color-main;
    }
  }

  //   footer
  &__title {
    display: block;

    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $additional-color;
  }
  &__list_footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 0 auto;

    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__icon_footer {
    width: 44px;
    height: 44px;

    fill: $additional-color;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: color 250ms $cubic-bezier, background-color 250ms $cubic-bezier;
    &:hover,
    &:focus {
      border-radius: 50%;
      background-color: $accent-color-main;
    }
  }
  &__item_margin:not(:last-child) {
    margin-right: 10px;
  }
}
